@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Source Sans Pro', 'Arial', sans-serif;}
html, body{margin: 0; padding: 0;}
header, section, article, aside, nav, main, footer{display: block;} 
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{content:""; display: block; clear: both;}/*display:flex; 선언을 했다면 사용하지 말 것!*/
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
.clear{clear: both;} /*<div class="clear"></div>*/
.impact{font-family: 'Pacifico', cursive;} /*Pacifico 폰트 적용*/


#header{background-color: #ddd;}
#header .top{height: 30px; background-color: #000;}
#header .top .wrap{width: 1160px; height: 100%; padding: 0 10px; margin: 0 auto; /*background-color: #ccc;*/}
#header .top .wrap .info{float: left;}
#header .top .wrap .info ul{}
#header .top .wrap .info ul li{float:left; color:#fff; line-height: 30px; margin-right: 10px; font-size: 14px;}

#header .top .wrap .sns{float: right;}
#header .top .wrap .sns ul{}
#header .top .wrap .sns ul li{float: left; margin: 0 10px;}
#header .top .wrap .sns ul li a{display: block; line-height: 30px; color:#fff; font-size: 14px;}
#header .top .wrap .sns ul li:hover a{color:#ff6600;}


#header .main{/*width: 100%; height: auto;*/ background-image: url(../img/1.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}

#header .main .dark{background-color: rgba(0,0,0,0.5);}

#header .main .dark .wrap{width: 1160px;height: 66px; padding: 0 10px; margin: 0 auto;}
/* (66-32)/2 */
#header .main .dark .wrap .logo{float: left; padding: 17px 0;}
#header .main .dark .wrap .logo a{display: block;}
#header .main .dark .wrap .logo a img{display: block;}

#header .main .dark .wrap .menu{float: right;}
#header .main .dark .wrap .menu ul{float: left;}
#header .main .dark .wrap .menu ul li{float: left;} /*float, display 각각 독립적인 공간  또는 객체에 개별 적용(상속 없음)*/
#header .main .dark .wrap .menu ul li a{display: block; font-size: 16px; padding: 0 20px; line-height: 66px; color:#fff; font-weight: bold; transition:background-color 0.5s, color 0.5s;}
#header .main .dark .wrap .menu ul li:hover a{background-color: rgba(255,255,255,0.6); color:#ff6600;}

#header .main .dark .wrap .menu .reseve_btn{float: left; width: 180px; text-align: right; padding: 12px 0;}
/* (66-42)/2 */
#header .main .dark .wrap .menu .reseve_btn a{display: inline-block; color:#fff; font-size: 16px;padding: 10px 14px; border:1px solid #ff6600; background-color: #ff6600; border-radius:4px; font-weight: bold; transition:background-color 0.5s, color 0.5s;}
#header .main .dark .wrap .menu .reseve_btn a:hover{background-color: #fff; color:#ff6600;}


#header .main .dark .main_title{width: 1160px; padding: 0 10px; height: 494px; margin: 0 auto; /*display: table;*/ position: relative;}

#header .main .dark .main_title .txt_center{/*display: table-cell; text-align: center; vertical-align: middle;*/ position: absolute; left:50%; top:50%; width: 100%; transform:translate(-50%, -50%); text-align: center;}

#header .main .dark .main_title .txt_center h1{font-size: 54px; line-height: 72px; color:#fff;}
#header .main .dark .main_title .txt_center p{font-size: 16px; color:#fff; padding: 16px 0 40px;}
#header .main .dark .main_title .txt_center ul{font-size: 0;}
#header .main .dark .main_title .txt_center ul li{display: inline-block; margin: 0 10px;}
#header .main .dark .main_title .txt_center ul li a{display: block; width: 202px; height: 44px; border:1px solid #ff6600; line-height: 42px; color:#fff; text-transform: capitalize; border-radius:8px; font-size: 16px; transition:background-color 0.5s, color 0.5s;}
#header .main .dark .main_title .txt_center ul li:hover a{background-color: rgba(255,255,255,0.4); color:#ff6600;}


#story{width: 100%; height: auto; /*background-color: #ddd;*/}
#story .wrap{width: 1160px; height: 600px; padding: 0 10px; margin: 0 auto; /*background-color: #ffffaa;*/ text-align: center; overflow: hidden;}
#story .wrap .title{padding-top: 60px; padding-bottom: 40px;}
#story .wrap .title h2{font-size: 54px; line-height: 72px; color:#555; text-transform: capitalize;}
#story .wrap .title h2 span{color:#ff6600;}
#story .wrap .title p{font-size: 16px; color:#555; padding-top: 20px; text-transform: uppercase;}

#story .wrap .cont{font-size: 0;}
#story .wrap .cont > div{display: inline-block; vertical-align: top; width: 540px; height: 200px; margin: 0 15px; /*background-color: #ccffff;*/ font-size: 16px;}

#story .wrap .cont > div.img_part{background-image: url(../img/cook-01.jpg); background-size: 120%; background-position: 50% 80%; border-radius:8px;}

#story .wrap .cont > div.txt_part{padding-top: 40px;}
#story .wrap .cont > div.txt_part p{padding-bottom: 40px;}

#story .wrap .deco_img{padding-top: 100px;}

#story .wrap .deco_img img{width: 100%;}

.mid_01{text-align: center;}
.mid_01 .outer{display: inline-block; width: 400px; height: 400px; padding: 50px; background-image: url(img/cook-01.jpg); background-size: cover; background-position: 50% 50%;}
.mid_01 .outer .inner{width: 100%; height: 100%;background-color: rgba(0,0,0,0.4); padding: 50px; /*display: none;*/  /*transition: display 1s;*/ opacity: 0; transition: opacity 1s;}

.mid_01 .outer:hover .inner{display: block;}
.mid_01 .outer:hover .inner{opacity: 1;}

/*display:none; 본인 공간도 제거 => 마우스 오버 가능 공간이 아니다.*/
/*display 선언은 transition(시간차)이 적용 불가 (z-index도 동일)*/
/* opacity:0; 본인 공간이 존재 => 마우스오버 가능 공간 */

.mid_01 .outer .inner .cont{width: 100%;height: 100%; text-align: left; }
.mid_01 .outer .inner .cont h3{font-size: 36px; color: #ffff00; padding-bottom: 20px;}
.mid_01 .outer .inner .cont p{font-size: 18px; color: #fff;}
.mid_01 .outer .inner .cont p a{font-size: 18px; color: #ffff00; float: right; transition: 0.5s;}
.mid_01 .outer .inner .cont p a:hover{color: #ff0000;}

/*
#ex_02{height: 1150px;}
#ex_02 .main{width: 100%; height: 1150px; padding: 0 10px; background-color: #ddd; margin: 0 auto;}
#ex_02 .main .header_img{width: 100%; height: 460px; background-image: url(../img/2.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}
#ex_02 .main .header_img .dark{height: 460px; background-color: rgba(0,0,0,0.4);}
#ex_02 .main .wrap{width: 1140px; height: 690px; background-color: #aaa; margin: 0 auto;}
#ex_02 .main .wrap .bottom_box{height: 150px; background-color: #ccc; }
#ex_02 .main .wrap .bottom_box .top_box{ text-align: center;}
#ex_02 .main .wrap .bottom_box .top_box h3{padding: 20px 0; font-size: 54px;}
#ex_02 .main .wrap .bottom_box .top_box p{font-size: 16px; padding-bottom: 40px;}
#ex_02 .main .wrap .menu{height: 540px;  display: block; margin: 0 10px; }
#ex_02 .main .wrap .menu .first{display: inline-block; width: 710px; height: 340px; padding: 20px; background-image: url(/img/menu_1.jpg); background-position: 50% 50%; background-size: cover; border-radius: 8px; vertical-align: top;}
#ex_02 .main .wrap .menu .first .inner{width: 100%; height: 100%; padding: 10px; background-color: rgba(0,0,0,0.5); position: relative; border-radius: 8px;}
#ex_02 .main .wrap .menu .first .inner h3{font-size: 28px; font-weight: bold; color: #fff;}
#ex_02 .main .wrap .menu .first .inner p{font-size: 18px;color: #fff;}
#ex_02 .main .wrap .menu .first .inner span{position: absolute; right: 10px; bottom: 10px; font-size: 28px; font-weight: bold; color: #ff6600;}
#ex_02 .main .wrap .menu .seconds{display: inline-block; width: 340px; height: 340px; padding: 20px; background-image: url(/img/menu_2.jpg); background-position: 50% 50%; background-size: cover; border-radius: 8px; margin-left: 30px;}
#ex_02 .main .wrap .menu .seconds .inner{width: 100%; height: 100%; padding: 10px; background-color: rgba(0,0,0,0.5); position: relative; border-radius: 8px;}
#ex_02 .main .wrap .menu .seconds .inner h3{font-size: 28px; font-weight: bold; color: #fff;}
#ex_02 .main .wrap .menu .seconds .inner p{font-size: 18px;color: #fff;}
#ex_02 .main .wrap .menu .seconds .inner span{position: absolute; right: 10px; bottom: 10px; font-size: 28px; font-weight: bold; color: #ff6600;}
#ex_02 .main .wrap .menu .third{display: inline-block; width: 340px; height: 340px; padding: 20px; background-image: url(/img/menu_3.jpg); background-position: 50% 50%; background-size: cover; border-radius: 8px; margin-top: 30px;}
#ex_02 .main .wrap .menu .third .inner{width: 100%; height: 100%; padding: 10px; background-color: rgba(0,0,0,0.5); position: relative; border-radius: 8px;}
#ex_02 .main .wrap .menu .third .inner h3{font-size: 28px; font-weight: bold; color: #fff;}
#ex_02 .main .wrap .menu .third .inner p{font-size: 18px;color: #fff;}
#ex_02 .main .wrap .menu .third .inner span{position: absolute; right: 10px; bottom: 10px; font-size: 28px; font-weight: bold; color: #ff6600;}
#ex_02 .main .wrap .menu .fourth{display: inline-block;  width: 340px; height: 340px; padding: 20px; background-image: url(/img/menu_4.jpg); background-position: 50% 50%; background-size: cover; border-radius: 8px; vertical-align: top; margin-left: 30px; margin-top: 30px;}
#ex_02 .main .wrap .menu .fourth .inner{width: 100%; height: 100%; padding: 10px; background-color: rgba(0,0,0,0.5); position: relative; border-radius: 8px;}
#ex_02 .main .wrap .menu .fourth .inner h3{font-size: 28px; font-weight: bold; color: #fff;}
#ex_02 .main .wrap .menu .fourth .inner p{font-size: 18px;color: #fff;}
#ex_02 .main .wrap .menu .fourth .inner span{position: absolute; right: 10px; bottom: 10px; font-size: 28px; font-weight: bold; color: #ff6600;}
#ex_02 .main .wrap .menu .fifth{display: inline-block;  width: 340px; height: 340px; padding: 20px; background-image: url(/img/menu_5.jpg); background-position: 50% 50%; background-size: cover; border-radius: 8px;margin-left: 30px; margin-top: 30px;}
#ex_02 .main .wrap .menu .fifth .inner{width: 100%; height: 100%; padding: 10px; background-color: rgba(0,0,0,0.5); position: relative; border-radius: 8px;}
#ex_02 .main .wrap .menu .fifth .inner h3{font-size: 28px; font-weight: bold; color: #fff;}
#ex_02 .main .wrap .menu .fifth .inner p{font-size: 18px;color: #fff;}
#ex_02 .main .wrap .menu .fifth .inner span{position: absolute; right: 10px; bottom: 10px; font-size: 28px; font-weight: bold; color: #ff6600;}*/

#special{background-color: #ededed;}
#special .top{width: 100%; height: 460px; background-image: url(../img/2.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}
#special .top .dark{width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);}

#special .bottom{margin-top: -360px;}
#special .bottom .wrap{width: 1160px; height: auto; padding: 0 10px; margin: 0 auto;}
#special .bottom .wrap .title{text-align: center; padding-bottom: 40px;}
#special .bottom .wrap .title h2{font-size: 54px; line-height: 72px; color:#fff; padding: 20px 0; text-transform: capitalize;}
#special .bottom .wrap .title p{font-size: 16px; color:#fff; text-transform: uppercase;}

#special .bottom .wrap .cont{font-size: 0;}
#special .bottom .wrap .cont .outer{display: inline-block; width: 360px; height: 360px; margin-right: 30px; margin-bottom: 30px; background-color: #ffff99; border-radius: 8px; background-size: cover; background-position: 50% 50%; padding: 20px; vertical-align: top;}
#special .bottom .wrap .cont .outer:nth-child(1){background-image: url(../img/menu_1.jpg); width: 750px;}
#special .bottom .wrap .cont .outer:nth-child(2){background-image: url(../img/menu_2.jpg); margin: 0;}
#special .bottom .wrap .cont .outer:nth-child(3){background-image: url(../img/menu_3.jpg);}
#special .bottom .wrap .cont .outer:nth-child(4){background-image: url(../img/menu_4.jpg);}
#special .bottom .wrap .cont .outer:nth-child(5){background-image: url(../img/menu_5.jpg); margin: 0;}

#special .bottom .wrap .cont .outer .inner{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); padding: 20px; border-radius:8px; position: relative; opacity:0; transition:opacity 0.5s;}
#special .bottom .wrap .cont .outer:hover .inner{opacity:1;}

#special .bottom .wrap .cont .outer .inner h3{font-size: 28px; color:#fff; text-transform: capitalize;}
#special .bottom .wrap .cont .outer .inner p{font-size: 18px; color:#fff;}
#special .bottom .wrap .cont .outer .inner .price{font-size: 28px; color:#ff6600; position: absolute; bottom:20px; right:20px;}

#special .bottom .wrap .arrow{text-align: center; padding-bottom: 60px;}
#special .bottom .wrap .arrow a{display: inline-block;}
#special .bottom .wrap .arrow a img{display: block;}


/* 
  #special_02{}
#special_02 .outer{width: 100%; height: auto; background-image: url(../img/3.png); background-position: 50% 50%; background-size: cover; background-attachment: fixed;}
#special_02 .outer .inner{width: 1160px; height: 1700px;  padding: 10px 0; background-color: #eee; margin: 0 auto;}
#special_02 .outer .inner .title{text-align: center; padding-bottom: 40px;}
#special_02 .outer .inner .title h3{font-size: 54px; line-height: 72px; color: #555; font-weight: bold; padding: 20px 0;}
#special_02 .outer .inner .title p{font-size: 16px; color: #555;}
#special_02 .outer .inner .menu .title1{width: 100%; text-align: center; padding: 40px 0 20px;} 
#special_02 .outer .inner .menu .title1 h3{font-size: 24px; font-weight: bold; color: #999;} 
#special_02 .outer .inner .menu .box{width: 580px; height: auto; border-right: solid #999;} 
#special_02 .outer .inner .menu .box .inner_box1{display: inline-block;} 
#special_02 .outer .inner .menu .box .inner_box1 h3{font-size: 20px; font-weight: bold; color: #555;} 

#special_02 .outer .inner .menu .box .inner_box1 p{font-size: 16px; color: #555; margin: 10px 0;} 
#special_02 .outer .inner .menu .box .inner_box1 span{font-size: 16px; color: #555; float: right;}
#special_02 .outer .inner .menu .box .inner_box2{display: inline-block;}  */



#dishes{background-image: url(../img/3.png); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}

#dishes .wrap{width: 1160px; padding: 20px 10px 0; margin: 0 auto;}

#dishes .wrap .title{text-align: center;}
#dishes .wrap .title h2{font-size: 54px; line-height: 72px; padding: 20px 0; color:#555; text-transform: capitalize;}
#dishes .wrap .title p{font-size: 16px; color:#555; padding-bottom: 40px; text-transform: uppercase;}

#dishes .wrap .cont{padding-bottom: 20px;}
#dishes .wrap .cont .ca_title{padding: 40px 0 20px; text-align: center;}
#dishes .wrap .cont .ca_title h3{font-size: 24px; color:#999; }

#dishes .wrap .cont .detail{font-size: 0; position: relative;}
#dishes .wrap .cont .detail:before{content:""; width: 1px; height: 100%; background-color: #cfcfcf; position: absolute;top:0; left:50%; transform:translateX(-50%);}

#dishes .wrap .cont .detail > div{display: inline-block; width: 50%; padding: 0 15px; /*background: #aaffff;*/ font-size: 16px; vertical-align: top;}

#dishes .wrap .cont .detail > div .menu_bx{padding-bottom: 40px;}

#dishes .wrap .cont .detail > div .menu_bx h4{font-size: 20px; color:#555;}

#dishes .wrap .cont .detail > div .menu_bx p{font-size: 16px; color:#555;}

#dishes .wrap .cont .detail > div .menu_bx h5{font-size: 20px; color:#ff6600; text-align: right;}

#dishes .wrap .arrow{text-align: center; padding-bottom: 60px;}
#dishes .wrap .arrow a{display: inline-block;}
#dishes .wrap .arrow a img{display: block;}



#service{width: 100%; height: auto; text-align: center;}

/* [콘텐츠(공간)을 중앙 배치하는 방법]
#1. 블록인 요소(width 값이 100%(유동값)가 아닌 실제 고정값(px)이 적용 되었을 때) : 본인에게 margin:0 auto; 를 선언한다.
#2. 인라인(width 값 선언 할 수 없음) 또는 인라인 블록 (width 값 선언할 수 있음) 요소 : 본인을 감싸고 있는 부모 또는 조상(블록인 요소인 경우)에게 text-align : center;를 선언함 */

#service .wrap{width: 1160px; height: 750px; background-color: #ededed; padding: 0 10px; margin: 0 auto;}
#service .wrap .title{}
#service .wrap .title h3{padding: 60px 0 20px; text-transform: capitalize; font-size: 54px; line-height: 72px; color: #555;}
#service .wrap .title p{font-size: 16px; color: #555; padding-bottom: 80px; text-transform: uppercase;}
#service .wrap .cont{height: 360px; font-size: 0;}
#service .wrap .cont .box{display: inline-block; vertical-align: top; width: 360px; height: 360px; padding: 40px; background-color: #ffeeee;  border-radius: 8px; margin: 0 10px; }

#service .wrap .cont .box:hover{transform: scale(1.1); box-shadow: 0 0 8px #ff9999; transition: transform 1.5s;
/*box-shadow: 1px 2px 4px #ffff00, -2px -2px 4px #ff0000;*/}
/* 
#1.transition의 선언 위치가 원본에 적용될 경우, 마우스 오버시 진입과 진출에 대한 시간차를 동시 적용 가능
#2. transition의 선언 위치가 마우스 오버시 적용될 경우, 마우스 오버시 진입간의 시간차만을 적용(레이어 팝업창에 적용 - 잔상을 제거하기 위함)
*/

#service .wrap .cont .box .img_part{}
#service .wrap .cont .box .img_part img{height: 82px;}
#service .wrap .cont .box h3{font-size: 24px; font-weight: bold; color: #555; text-transform: uppercase; margin: 40px 0;}
#service .wrap .cont .box p{font-size: 16px; font-weight: bold; color: #555;}
#service .wrap .arrow{ padding: 20px 0 60px;}
#service .wrap .arrow img{}

/* #waiting{width: 100%; background-image: url(/img/6.jpg); background-position: 50% 50%; background-size: cover; background-attachment: fixed;  }
#waiting .dark{background-color: rgba(0,0,0,0.5);}
#waiting .dark .wrap{ width: 1160px; height: 460px; padding: 0 10px;  display: table;  margin: 0 auto;}

#waiting .dark .wrap >div{display: table-cell;text-align: center; vertical-align: middle;}
#waiting .dark .wrap .title{}
#waiting .dark .wrap .title h3{ padding: 20px 0; font-size: 54px;  line-height: 72px; color: #fff; font-weight: bold;}
#waiting .dark .wrap .title p{padding-bottom: 40px; font-size: 16px; color: #fff;}
 */


/* #waiting .dark .wrap .search{width: 740px; height: 60px; background-color: #fff; border-radius: 8px; font-size: 0; margin: 0 auto;}
#waiting .dark .wrap .search input{width: 710px; height: 60px; background-color: #fff; border-radius: 8px; border: none; font-size: 16px; padding: 0 10px;}
#waiting .dark .wrap .search  button{width: 30px; height: 60px;background-color: #fff; border: 0px; border-radius: 8px; vertical-align: top; font-size: 24px; color: #ff6600; padding: 0; } */

#offer{height: 460px; background-image: url(img/6.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed; text-align: center;}
#offer .dark{height: 100%; background-color: rgba(0,0,0,0.5);}
#offer .dark .wrap{width: 1160px; height: 100%; padding: 0 10px; margin: 0 auto; display: table;}
#offer .dark .wrap .table_center{display: table-cell; vertical-align: middle;}
#offer .dark .wrap .table_center .title{}
#offer .dark .wrap .table_center .title h3{font-size: 54px; line-height: 72px; color: #fff; padding: 20px 0; }
#offer .dark .wrap .table_center .title p{font-size: 16px; color: #fff; padding-bottom: 40px;}

#offer .dark .wrap .table_center .cont{}

#offer .dark .wrap .table_center .cont .mail_box{width: 740px; height: 60px; border: 1px solid #ff6600; background-color: #fff; border-radius: 8px; margin: 0 auto; padding: 0 20px; font-size: 0; }

#offer .dark .wrap .table_center .cont .mail_box input{width: calc(100% - 50px); height: 100%; border: none; font-size: 20px; vertical-align: top; outline: none;}
#offer .dark .wrap .table_center .cont .mail_box button{width: 50px; height: 100%; border: none; background: transparent; color: #ff6600; font-size: 24px; outline: none; cursor: pointer;vertical-align: top;}


/* #ex_01{}
#ex_01 .outer{ width: 1160px; height: 400px; background-color: #ededed;  margin: 0 auto; }
#ex_01 .outer .map_box{display: inline-block; width: 570px; height: 400px; padding: 10px 0;}
#ex_01 .outer .map_box .js_map{width: 570px; height: 380px;}
#ex_01 .outer .cont{display: inline-block; width: 570px; vertical-align: top; }
#ex_01 .outer .cont .title{padding: 20px 0; line-height: 72px;text-align: center;}
#ex_01 .outer .cont .title h3{font-size: 54px; text-transform: capitalize; color: #555; }
#ex_01 .outer .cont .menu{ padding-left: 40px; border-bottom: 1px solid #999;}
#ex_01 .outer .cont .menu input{padding: 4px 20px 4px; border: none; background-color: transparent; outline: none; line-height: 35px; color: #999;  }
#ex_01 .outer .cont .menu1 input text{text-align: left; vertical-align: left; color: #999; }


#ex_01 .outer .cont .btn{text-align: right;}
#ex_01 .outer .cont .btn input{ width: 240px; height: 41px; background-color: #ff6600; font-size: 18px; color: #fff; cursor: pointer; outline: none; border: none; border-radius: 8px; } */


#register{width: 100%; height: auto; background-color: #ededed; }
#register .wrap{width: 1160px; height: auto; padding: 0 10px; margin: 0 auto; font-size: 0;}

#register .wrap .left {display: inline-block; width: 50%; height: 400px; vertical-align: top; padding: 20px;    background: #ffffaa; }
#register .wrap .left #map{height: 100%;}

#register .wrap .right{display: inline-block; width: 50%; height: 400px; vertical-align: top; padding: 20px;    background: #aaffff; font-size: 16px;}

#register .wrap .right .title{padding: 20px 0; text-align: center;}
#register .wrap .right .title h2{font-size: 54px; line-height: 72px; color:#555;}

#register .wrap .right .cont{}
#register .wrap .right .cont .input_line{padding-bottom: 8px;}
#register .wrap .right .cont .input_line input{height: 35px; padding: 0 20px; background: transparent; border:none; border-bottom: 1px solid #999; width: 100%;}


#register .wrap .right .btn{text-align: right;}
#register .wrap .right .btn input{width: 240px; height: 41px; font-size: 18px; color:#fff; background: #ff6600; border:none; border-radius:8px;}




#footer{width: 100%; height: auto; background-color: #000; text-align: center;}
 #footer .wrap{width: 1160px; height: auto; padding: 20px 10px; margin: 0 auto;}
#footer .wrap .sns{}
#footer .wrap .sns ul{}
#footer .wrap .sns ul li{display: inline-block; margin: 10px;}
#footer .wrap .sns ul li a{display: block; width: 40px; height: 40px; border-radius:50%; border:1px solid #fff; line-height: 38px; color:#fff;}
#footer .wrap .sns ul li:hover a{color:#ff6600;}
#footer .wrap .f_logo{padding: 10px 0; font-size: 0;}
#footer .wrap .f_logo img{}

#footer .wrap .copyrights{font-size: 14px; padding: 14px 0; color:#fff;} */



.top_btn{position: fixed; right: 30px; bottom: 30px;  cursor: pointer; z-index: 1;}
.top_btn a{font-size: 50px; color: #ff6600;}



